:root {
    --charcoal: #808080;
    --l-gray: #E6E6E6;
    --l-green: #95d255;
    --l-blue: #479bef;
}

body{
    margin: 0;
    background-color: var(--l-gray);
}

#prompt-container {
    background-color: white;
    height: 25vh;
    text-align: center;
}
#prompt-task {
    margin: 3vh;
    font-size: 3rem;
}
#vui-container{
    background-color: var(--charcoal);
    height: 30vh;
    position: absolute;
    bottom: 0;
}
#msg-box{
    background-color: white;
    width: 65vw;
    border-radius: 25pt;
    padding: 3vw;
    font-size: 2rem;
    border: 1pt solid var(--charcoal);
    margin-right: 5vw;
}
#msg-box-container{
    position: absolute;
    bottom: 30vh;
    border: 1pt solid var(--charcoal);
    display: flex;
    flex-flow: row-reverse;
}
#goal-text{
    font-size: 2rem;
    margin: 2vw;
    border: 1pt solid var(--charcoal);
    padding: 3vw;
    text-align: left;
}

.full-width{
    width: 100%;
}
.sj-cardholder {
    display: flex;
}
.card {
    background-color: inherit;
    padding: inherit
}
.card-body{
    padding: 0;
}
.mode-param{
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}
.mode-field{
    margin-left: 20vw;
    padding: 2vw 5vw;
    width: fit-content;
    border-radius: 20pt;
}
#field1{
    background-color: var(--l-green);
}
#field2{
    background-color: var(--l-blue);
}
#transitions{
    margin-left: 22.5vw;
}
#transitions > .card {
    padding: 1vw 2.5vw;
    width: fit-content;
    border-radius: 20pt;
    font-size: 1.5rem;
    border: 1pt solid var(--l-gray);
    margin-right: 20px;
}

.sj-cardholder > .card[selected] {
    background-color: var(--l-gray);
    color: var(--charcoal);
    font-weight: bold;
}