
.sj-cardholder {
    display: flex;
}

.sj-cardholder > .card {
    margin-left: 10px;
}

.sj-cardholder > .card[selected] {
    background-color: red;
}

.prompt-vis-container > .card {
    width: 18rem;
}
#event-log-container{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#user-text {
    width: 100%;
}
#event-log {
    width: 100%;
    border: 1px black solid;
    flex-grow: 2;
    padding-left: 5px;
}
.card-body {
    padding: 0.5rem 1rem;
}
.mode-param{
    margin-bottom: 10px;
}