
.sj-cardholder {
    display: flex;
}

.sj-cardholder > .card {
    margin-left: 10px;
}

.sj-cardholder > .card[selected] {
    background-color: red;
}

.prompt-vis-container > .card {
    width: 18rem;
}